.hidden{
    display: none;
}



body{
    font-family: 'Share', cursive;
    background-image: url(./images/nightlife.png);
}

.pageTitle{
    font-family: 'Rock Salt', cursive;
    color: floralwhite;
}

<<<<<<< HEAD
h1{
    text-align: center;
    margin-top: 15px;
}

.firstBtns{
    margin-top: 20px;
    text-align: center;
    
    
}

#tagLine{
    text-align: center;
    color: floralwhite;
}

.btn-xlarge{
    padding: 20px 30px;
}

#or{
    color: floralwhite;
    margin-top: 8px;
}

.loadMore{
    text-align: center;
}
=======
.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
  }

  datalist{
      display: block;

  }
  

>>>>>>> master
